/* External CSS Stylesheet */


*
{
	margin: 0;
	padding: 0;
}


body { 
    background-color: #eeeeee;
}

.header-fixed {
    width:100%;
    position:fixed;
    top:0px;
}

/* Heading Style */
.header {
    background-color: #000000;
    padding: 8px;
    overflow: hidden;
}

.header-right {
  float: right;
}


/* DTCC Company Heading */
.header a {
    float: left;
    color: #ffffff;
    padding: 12px;
    font-size: 18px; 
    line-height: 12px;
    border-radius: 6px;
    text-decoration: none;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
    font-family: Impact;
    font-stretch: extra-expanded;
}

.header a:hover {
    color: #838383;
    background-color: #eeeeee;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navigation Menu Font */
h4 {
    color: #0096d6;
    font-family: Arial, Helvetica, Sans Serif;
}


.inline-buttons .one-third {
    text-align: center;
}

@media only screen and (max-width: 1076px) {

    .inline-buttons .one-third {
        width: 100%;
        margin: 20px;
    }
    
}
